*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	background-color: cadetblue;
	height: 100vh;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: white;
	border-radius: 12px;
	overflow: hidden;
}

.card img {
	width: 500px;
	height: auto;
}

.img2 {
    width: 500px;        
    height: 70%;       
    overflow: hidden;    
}

.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: top;     
}

.card-description {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card-link {
	padding: 8px 12px;
	background-color: aquamarine;
	width: max-content;
	border-radius: 8px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

